* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 2rem auto;
  padding: 2rem;
  background: #e8e8e8;
}

form input {
  padding: 0.8rem 1rem;
  margin-right: 0.8rem;
}

button {
  padding: 0.8rem 1rem;
}